</body>
<div class="footer-container">
            <footer class="wrapper">
                <h3> Visit my profile here! 
                 <a href="https://github.com/SravanthiModali"> Github  | </a> <a href="https://bitbucket.org/SravanthiModali"> Bitbucket </a>
                |  <a href="https://www.linkedin.com/in/sravanthi-modali-13b53458?trk=nav_responsive_tab_profile"> LinkedIn </a> </h3>
            </footer>
        </div>
</html>